<footer>
  <div class="footer-main">
    <div class="footer-up">
      <div class="quick-links">
        <div class="title">
          <h2>Quick Links</h2>
        </div>
        <div class="list">
          <ul>
            <li>
              <img src="/assets/images/home.png">
              <a>Home</a>
            </li>
            <li>
              <img src="/assets/images/portfolio.png">
              <a>Portfolio</a>
            </li>
            <li>
              <img src="/assets/images/groups.png">
              <a>Teams</a>
            </li>
            <li>
              <img src="/assets/images/careers.png">
              <a>Careers</a>
            </li>
            <li>
              <img src="/assets/images/openings.png">
              <a>Current Openings</a>
            </li>
            <li>
              <img src="/assets/images/phone.png">
              <a>Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="services">
        <div class="services-title">
          <h2>Services</h2>
        </div>
        <div class="services-list">
          <ul>
            <li>
              <img src="/assets/images/code.png">
              <a>Software Development</a>
            </li>
            <li>
              <img src="/assets/images/web.png">
              <a>Web Development</a>
            </li>
            <li>
              <img src="/assets/images/android.png">
              <a>Android Development</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="subscribe">
        <div class="sub-title">
          <h2>Subscribe to our newsletter</h2>
        </div>
        <div class="sub-about">
          <form action="">
            <div class="email">
              <input type="email" placeholder="Email">
            </div>
            <div class="btn">
              <button>Subscribe</button>
            </div>
            <div class="socials">
              <ul>
                <li>
                  <img src="/assets/images/fb.png">
                </li>
                <li>
                  <img src="/assets/images/twitter.png">
                </li>
                <li>
                  <img src="/assets/images/ig.png">
                </li>
                <li>
                  <img src="/assets/images/in.png">
                </li>
                <li>
                  <img src="/assets/images/yt.png">
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-down">
      <p>© 2023 suvidhaen.com All rights reserved | Giorgi Mindiashvili | mindiashvilife@gmail.com</p>
    </div>
  </div>  
</footer>