<header>
  <div class="header-main">
    <div class="header-left">
      <img src="/assets/images/logo.png"/>
    </div>
    <div class="header-right">
      <ul>
        <li>
          <img src="/assets/images/home.png">
          <a>Home</a>
        </li>
        <li>
          <img src="/assets/images/portfolio.png">
          <a>Portfolio</a>
        </li>
        <li>
          <img src="/assets/images/groups.png">
          <a>Teams</a>
        </li>
        <li>
          <img src="/assets/images/careers.png">
          <a>Careers</a>
        </li>
        <li>
          <img src="/assets/images/openings.png">
          <a>Current Openings</a>
        </li>
        <li>
          <img src="/assets/images/phone.png">
          <a>Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</header>
