<section>
  <div class="welcome-home-main">
    <div class="welcome-left">
      <div class="title">
        <h1>Explore Innovations with<br> Sarva Suvidhaen</h1>
      </div>
      <div class="about">
        <h3>
          Fueling progress through innovations in Software Development since 2021
        </h3>
        <p>
          Python based analytical tools and Real Time monitoring Apps are our keys<br>
          IoT enabled and ML modeling based solution are our strength
        </p>
      </div>
      <div class="btn">
        <button>Let's Talk !</button>
      </div>
    </div>
    <div class="welcome-right">
      <img [src]="selectedImage" alt="Random Image" />
    </div>
  </div>
</section>
