.teams-page-main {
  width: 100%;
  min-height: 90vh;
  padding: 90px 90px 50px 90px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  .team-founders {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
    .title {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 10px;
      h1 {
        font-weight: 100;
        font-size: 35px;
      }
      span {
        width: 300px;
        height: 2px;
        border-radius: 2px;
        background-color: #000;
      }
    }
    .founders {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      column-gap: 40px;
      padding-top: 20px;
      .container-f {
        width: 300px;
        height: 370px;
        border-radius: 10px;
        box-shadow: 0px 0px 16px #494949;
        display: flex;
        flex-direction: column;
        row-gap: 0px;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          box-shadow: 0px 0px 18px #000;
          transform: translateY(-3px);
        }
        .avatar {
          width: 100%;
          height: 270px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
          }
        }
        .name {
          width: 100%;
          height: 100%;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          row-gap: 7px;          
        }
      }
    }
    .about {
      width: 100%;
      text-align: center;
      padding-top: 20px;
      p {
        line-height: 24px;
        letter-spacing: 0.2px;
      }
    }
  }
  .rd-team {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    .rd-title {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 10px;
      h1 {
        font-weight: 100;
        font-size: 35px;
      }
      span {
        width: 300px;
        height: 2px;
        border-radius: 2px;
        background-color: #000;
      }
    }
    .members {
      width: 100%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 35px;
      padding-top: 30px;
      padding-bottom: 40px;
      background-color: transparent;
      .member-container {
        width: 100%;
        height: 370px;
        box-shadow: 0px 0px 6px #272727;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 0px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          box-shadow: 0px 0px 13px #000;
          transform: translateY(-3px);
        }
        .member-avatar {
          width: 100%;
          height: 270px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
          }
        }
        .member-about {
          width: 100%;
          height: 100%;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          row-gap: 7px;
          background-color: transparent;
        }
      }
    }
  }
}


@media (max-width : 1400px) {
  .teams-page-main {
    .rd-team {
      .members {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media (max-width : 1250px) {
  .teams-page-main {
    padding: 90px 30px 50px 30px;
    .rd-team {
      .members {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

@media (max-width : 1030px) {
  .teams-page-main {
    padding: 90px 30px 50px 30px;
    .team-founders {
      .founders {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .container-f {
          display: flex;
          flex-basis: 200;
        }
      }
    }
    .rd-team {
      .members {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width : 700px) {
  .teams-page-main {
    padding: 90px 30px 50px 30px;
    .team-founders {
      .title {
        h1 {
          font-size: 25px;
        }
        span {
          width: 100%;
        }
      }
    }
    .rd-team {
      .rd-title {
        h1 {
          font-size: 25px;
        }
        span {
          width: 100%;
        }
      }
      .members {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        .member-container {
          width: 400px;
        }
      }
    }
  }
}

@media (max-width : 500px) {
  .teams-page-main {
    padding: 90px 30px 50px 30px;
    .team-founders {
      .title {
        h1 {
          font-size: 20px;
        }
        span {
          width: 100%;
        }
      }
    }
    .rd-team {
      .rd-title {
        h1 {
          font-size: 20px;
        }
        span {
          width: 100%;
        }
      }
      .members {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        .member-container {
          width: 300px;
        }
      }
    }
  }
}