<div class="testimonials-main">
  <div class="title">
    <h1>Testimonials</h1>
  </div>
  <div class="containers-list">
    <div class="container">
      <div class="card">
        <div class="front">
          <img src="/assets/images/jay.jpg">
          <h3>JAY PRAKASH</h3>
        </div>
        <div class="back">
          <p>
            helps in tracking cleanliness activity on multiple railway
            station. Its completely paperless solution, which improves
            traceability and reduce the scope of human error.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card">
        <div class="front">
          <img src="/assets/images/rahul.svg">
          <h3>RAHUL</h3>
        </div>
        <div class="back">
          <p>
            helps in tracking cleanliness activity on multiple railway
            station. Its completely paperless solution, which improves
            traceability and reduce the scope of human error.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="card">
        <div class="front">
          <img src="/assets/images/rahul.svg">
          <h3>SUMIT</h3>
        </div>
        <div class="back">
          <p>
            helps in tracking cleanliness activity on multiple railway
            station. Its completely paperless solution, which improves
            traceability and reduce the scope of human error.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>