.projects-portfolio-main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  .title {
    width: 100%;
    height: auto;
    text-align: center;
    h1 {
      color: #000;
      font-size: 35px;
      font-weight: 300;
    }
  }
  .search {
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 6px 20px 6px 10px;
    border-radius: 7px;
    position: relative;
    input {
      border: none;
      outline: none;
      font-size: 18px;
      background-color: transparent;
      width: 100%;
    }
    img {
      position: absolute;
      content: '';
      right: 10px;
      top: 6px;
      width: 22px;
      height: 22px;
      object-fit: cover;
    }
  }
  .projects-list {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    .container {
      width: 100%;
      height: 260px;
      box-shadow: 0px 0px 7px #444444;
      border-radius: 9px;
      display: flex;
      align-items: top;
      justify-content: space-between;
      flex-direction: row;
      column-gap: 20px;
      padding: 10px 10px;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 0px 9px #000;
        transform: translateY(-4px);
      }
      .container-left,
      .container-right {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        img {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        h3 {
          color: #000;
          font-size: 22px;
          font-weight: 500;
          letter-spacing: 0.3px;
        }
        p {
          color: #000;
          font-size: 16px;

        }
      }
    }
  }
}


@media (max-width : 1300px) {
  .projects-portfolio-main {
    .projects-list {
      .container {
        height: auto;
      }
    }
  }
}
@media (max-width : 1250px) {
  .projects-portfolio-main {
    .projects-list {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      .container {
        height: auto;
        .container-left {
          img {
            height: 250px;
          }
        }
      }
    }
  }
}

@media (max-width : 620px) {
  .projects-portfolio-main {
    .projects-list {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
      .container {
        height: auto;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        .container-left {
          img {
            height: 200px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}