* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background: rgb(92,119,248);
  background: linear-gradient(236deg, rgba(92,119,248,1) 0%, rgba(182,193,252,1) 35%, rgba(231,234,254,1) 100%); color: #020a31;;
}